a {
  font-style: normal;
}

html {
  /* Make scrollbar always visible in order to prevent shift when revealing answer. */
  overflow-y: scroll;
}

hr {
  width: 50%;
}

li {
  text-align: left;
}

ol, ul {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.audio {
  display: none;
}

.card {
  font-family: "Roboto Mono", "Courier New", Menlo;
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  background-color: black;
}

.cloze {
  font-weight: bold;
}

.extra {
  font-size: 12px;
}

.hint {
  font-size: 12px;
}

.image {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.source {
  font-size: 12px;
  font-style: italic;
}

.topic {
  font-size: 16px;
  color: #aaaaaa;
}
